@import '../fonts/fonts.css';
@import 'components/main.css';
@import 'components/container.css';
@import 'components/title.css';
@import 'components/list.css';
@import 'components/button.css';
@import 'components/cards.css';
@import 'components/form.css';
@import 'components/modal.css';
@import 'components/citation.css';
@import 'components/carousel.css';
@import 'components/slider.css';
@import 'components/header.css';
@import 'components/footer.css';
@import 'components/agence.css';
@import 'components/chiffres.css';
@import 'components/prestations.css';
@import 'components/contact.css';
@import 'components/galerie.css';
@import 'components/meteo.css';
@import 'components/livre.css';


body{
    font-family: 'Proxima Nova',sans-serif;
    overflow-x: hidden;
    background: url("../images/motif.jpg") center center repeat;
    padding-top: 0;
}
.home .uk-prestation,
.home .uk-agence{
    background: url("../images/motif.jpg") center center repeat;
    padding-bottom: 0;
}