@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?fop3ge');
    src:    url('../fonts/icomoon.eot?fop3ge#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fop3ge') format('truetype'),
    url('../fonts/icomoon.woff?fop3ge') format('woff'),
    url('../fonts/icomoon.svg?fop3ge#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-monitor:before {
    content: "\e900";
}
.icon-cancel:before {
    content: "\e901";
    font-size: 20px;
}
.icon-mailbox:before {
    content: "\e902";
}
.icon-menu1:before {
    content: "\e903";
    font-size: 20px;
}
.icon-pen:before {
    content: "\e904";
}
.icon-telephone:before {
    content: "\e905";
}
.icon-test-tube:before {
    content: "\e906";
}
.icon-user:before {
    content: "\e907";
}

