@import url(https://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,700,400italic,300italic,300,100italic,100);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/*General*/
html{
    height:100%;
}
body{
    font: 400 14px Lato;
    height:100%;
}
a{
    text-decoration: none;
    cursor: pointer;
}
strong{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: 700;
}
section{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    width:100%;
}
button,a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*_________________________________HEADER________________________________*/
header .responsive_nav{
    display:none;
}
header{
    position:absolute;
    height: 10px;
    width: 100%;
    z-index:9;
    text-align:center;
    top:-100px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.02);
}
header>div{
    padding: 20px 0 0;
    position: relative;
    width: 100%;
    height:100%;
}
/*NAV*/
header nav{
    position: absolute;
    right: 30px;
    bottom:-8px;
    z-index: 10;
}
nav li{
    display: inline-block;
    margin: 0 20px;
}
nav a{
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: 700;
    position: relative;
    color:#fff;
}
/*HEADER COLOR*/
.Home header>div,
.Contact header>div,
.Home header .responsive_nav,
.Contact header .responsive_nav,
.Error header .responsive_nav,
.Error header>div{
    background: #CCECEE;
    transition: background 1s;
}
.Projects header>div,
.Projects header .responsive_nav{
    background: #F5F4BA;
    transition: background 1s;
}
.About header>div,
.About header .responsive_nav{
    background: #A4DDE1;
    transition: background 1s;
}
.Home nav a,
.Contact nav a,
.Error nav a,
.Home .icon-menu1:before,
.Home .icon-cancel:before,
.Contact .icon-menu1:before,
.Contact .icon-cancel:before,
.Error .icon-menu1:before,
.Error .icon-cancel:before{
    color:#578e92;
}
.About nav a,
.About .icon-menu1:before,
.About .icon-cancel:before{
    color:#fff;
}
.Projects nav a,
.Projects .icon-menu1:before,
.Projects .icon-cancel:before{
    color:#C3B752;
}
/*HEADER_WAVES*/
header .activeLink:after,
header a:hover:after{
    content: '';
    position:absolute;
    bottom:-5px;
    left:50%;
    margin-left: -25px;
}
.Home nav .activeLink:after,
.Home nav a:hover:after,
.Contact nav .activeLink:after,
.Contact nav a:hover:after,
.Error nav .activeLink:after,
.Error nav a:hover:after{
    content: url(../images/wave1.svg);
}
.About nav .activeLink:after,
.About nav a:hover:after,
.Projects nav .activeLink:after,
.Projects nav a:hover:after{
    content: url(../images/wave2.svg);
}
/*_____________________________________________SECTIONS_____________________________________________*/
/*BACKGROUND SECTIONS COLOR*/
.Home,
.Contact,
.Error{
    background: #fff;
    transition: background 0.5s;
}
.About{
    background: #7fd0d5;
    transition: background 0.5s;
}
.Projects{
    background: rgb(241, 239, 156);
    transition: background 0.5s;
}
#sectionAdd{
    margin: 80px auto 50px;
}

/*TITLE*/
.title{
    margin-bottom: 50px;
    position: relative;
}
.title h1{
    font: 700 30px Montserrat;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.title h2{
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 700;
}
.title:after{
    content: '';
    display:block;
    margin-top: 50px;
}
.number_title{
    position: absolute;
    top: -64px;
    left:50%;
    margin-left: -55px;
}
.number_title>p{
    color:rgba(255,255,255,0.3);
    font: 700 80px Montserrat;
    position: relative;
    letter-spacing: 3px;
}
.number_title>p>span{
    margin-bottom: 90px;
    display: inline-block;
    position: absolute;
    top: -12px;
}
/*CONTENT*/
.content a{
    letter-spacing: 2px;
    font-size: 16px;
    padding: 20px 0;
    width:220px;
    border:3px solid #6dc9cf;
    margin: 0 auto;
    display: block;
}
.content p{
    letter-spacing: 2px;
    font-weight: 300;
    line-height: 22px;
    font-size: 15px;
}
/*_________________________________HOME_________________________________*/
.Home .title h1,
.Contact .title h1,
.Error .title h1{
    color:#395c5e;
}
.Home .title h2,
.Contact .title h2,
.Error .title h2{
    color:#578e92;
}
.Home .title:after,
.Contact .title:after,
.Error .title:after{
    content: url(../images/wave_blue.svg);
}
.Home .title>div{
    position: relative;
}
.Home .title>div>img{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -40px;
}
.Home .content p{
    max-width: 450px;
    color:#34999f;
    margin: 0 auto;
}
.Home .content a,
.Error .content a{
    color:#73ccd1;
    background: transparent;
    border-color:#6dc9cf;
    transition: all 0.4s;
    margin-top: 60px;
    text-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
}
.Home .content a:hover,
.Error .content a:hover{
    color: #fff;
    background: #73ccd1;
    border-color: #73ccd1;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
    transition: all 0.4s;
}
/*__________________________________ABOUT___________________________*/
.About{
    color:#fff;
}
.About .title>div:first-child,
.Projects .title>div:first-child,
.Contact .title>div:first-child,
.Error .title>div:first-child{
    width: 50%;
    max-width: 386px;
    min-width: 300px;
    height: 250px;
    position: absolute;
    top: 10%;
    left: 52%;
    transform: translate(-50%,-50%);
    -ms-transform:translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.About .title,
.Projects .title{
    margin-top: 80px;
}
.About .title h1{
    color: #395c5e;
}
.About .title:after{
    content: url(../images/wave1.svg);
}
.About .content a{
    border-color: #fff;
    margin: 30px auto;
    color:#fff;
    background: transparent;
    text-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
    transition: all 0.4s;
}
.About .content a:hover{
    background: #578e92;
    border-color:#578e92;
    color:#7fd0d5;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.2);
    box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
    transition: all 0.4s;
}
.About .content strong{
    color:#578e92;
}
/*Timeline*/
#about_formation,#about_professionnel,#about_competence{
    display: none;
}
.About .link_parcours a{
    display: inline-block;
    margin: 30px 20px;
}
.About .content .about_close{
    width:45px;
    padding: 10px 0;
}
.About .content #btn_professionnel_open{
    margin-top: 0;
}
.about_section>div{
    height: auto;
}
.time_line>div {
    display: inline-block;
    margin: 0 7px;
    position:relative;
    vertical-align: top;
}

.time_line small {
    background: #578e92;
    padding: 7px 4px;
    border-radius: 14px;
    display: block;
    width: 20px;
    margin: 20px auto;
    font: 700 11px Montserrat;
}

.time_line p {font-style: italic;font-weight: 500;color: rgba(255,255,255,0.7);width:235px}

.About .time_line strong {
    color: rgba(255,255,255,1);
    font-style: normal;
}
.time_line>div:nth-child(2)>small:before,
.time_line>div:last-child>small:before,
.time_line>div:nth-child(2)>small:after,
.time_line>div:first-child>small:before,
#about_competence .time_line>div:nth-child(3)>small:before,
#about_competence .time_line>div:nth-child(4)>small:after,
#about_competence .time_line>div:nth-child(5)>small:after,
#about_competence .time_line>div:nth-child(5)>small:before
{
    content: '';
    width: 46%;
    height: 0;
    display: block;
    position: absolute;
    top: 33px;
    border: 1px dashed;
}
.time_line>div:nth-child(2)>small:after,
.time_line>div:first-child>small:before,
#about_competence .time_line>div:nth-child(4)>small:after,
#about_competence .time_line>div:nth-child(5)>small:after{
    right: 50%;
    transform: translate(115%);
    -ms-transform:translate(115%);
    -webkit-transform: translate(115%);
}
.time_line>div:nth-child(2)>small:before,
.time_line>div:last-child>small:before,
#about_competence .time_line>div:nth-child(3)>small:before,
#about_competence .time_line>div:nth-child(5)>small:before{
    left: 50%;
    transform: translate(-115%);
    -ms-transform:translate(-115%);
    -webkit-transform: translate(-115%);
}
#about_competence .time_line {
    width: auto;
    margin: 0 auto;
    max-width: 800px;
}
#about_competence .time_line strong{
    display: block;
}
#about_competence .time_line>div{
    margin: 30px -5px 40px;
}
/*__________________________________Projects__________________________________*/
.Projects .title h1{
    color: #6B663B;
}
.Projects .title h2{
    color:#C3B752;
}
.Projects .number_title>p{
    color: rgba(255,255,255,0.5);
}
.Projects .content a {
    color: #C3B752;
    border-color: #C3B752;
    background: transparent;
    text-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
    transition: all 0.4s;
}
.Projects .content a:hover{
    background: #C3B752;
    border-color:#C3B752;
    color: #FFF;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.2);
    box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
    transition: all 0.4s;
}
.Projects .content{
    margin-top: 110px;
}
.Projects .title:after{
    content: url(../images/wave2.svg);
}
.Projects #sectionAdd{
    margin: 260px auto 130px;
}
/*Cards*/
.card {
    display: inline-block;
    background: #FFF;
    margin: 0 89px;
    vertical-align: top;
    height: 213px;
    width: 170px;
    padding: 30px 15px 20px;
}
.card .icon-test-tube:before,
.card .icon-pen:before,
.card .icon-monitor:before{
    font-size: 50px;
    color: #DAD39A;
}
.cardInner {
    position: relative;
    height: 100%;
    max-width: 90%;
    margin: 0 auto;
}
.cardInner span {
    display: block;
    width: 70px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    -ms-transform:translate(-50%);
    -webkit-transform: translate(-50%);
}
.cardContent {
    position: absolute;
    bottom: 0;
}
.cardContent a{
    font-size: 12px;
    padding: 8px;
    width: 110px;
    display: none;
}
.cardContent p {
    max-width: 300px;
    word-wrap: break-word;
    margin: 20px auto 30px;
    font-size: 10px;
    line-height: 17px;
    font-weight: 400;
    color: #C8BD5A;
}
.cardContent strong {
    word-wrap: break-word;
    display: block;
    margin: 0 auto;
    font-size: 12px;
    color: #6B663B;
    max-width: 120px;
}
/*Active card*/
.activeCard{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    -ms-transform:translate(-50%);
    -webkit-transform: translate(-50%);
    margin: -70px 0 0;
    box-shadow: 0 0 21px 6px rgba(0,0,0,0.05);
    height: 300px;
    width: 220px;
    padding: 40px 25px;
    z-index: 9;
    background: #C3B752;
    transition: background 1s;
}
.activeCard .icon-test-tube:before,
.activeCard .icon-pen:before,
.activeCard .icon-monitor:before{
    font-size: 80px;
    color: #fff;
}
.activeCard .icon-test-tube,
.activeCard .icon-pen,
.activeCard .icon-monitor{
    animation: animationFrames linear 1s infinite;
    -webkit-animation:animationFrames linear 1s infinite;
    -moz-animation:animationFrames linear 1s infinite;
    -o-animation:animationFrames linear 1s infinite;
    transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
}
.Projects .activeCard .cardContent a:hover {
    border-color: #fff;
    background: #fff;
    color: #c1bc5a;
}
.Projects .activeCard .cardContent a{
    font-size: 14px;
    padding: 12px;
    width: 150px;
    display: block;
    color: #FFFFFF;
    border-color: #FFFFFF;
}
.activeCard .cardContent p {
    font-size: 13px;
    line-height: 20px;
    margin-top: 20px;
    max-width: 200px;
    color: #fff;
}
.activeCard .cardContent strong {
    font-size: 14px;
    max-width: 130px;
    margin-top: 40px;
    color: #fff;
}
.activeCard .cardInner span {
    width: 95px;
    left: 25%;
}
/*__________________________________CONTACT__________________________________*/
.Contact .number_title>p,
.Error .number_title>p{
    color:rgba(204, 236, 238, 0.58);
}
.Contact .content a{
    padding: 20px 0;
    width: 200px;
    color: #6DC9CF;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 1s;
}
.Contact .content ul{
    position:relative;
    width: 612px;
    margin: 0 auto;
    height:200px;
}
/*TABS*/
.contactLink {
    display: inline-block;
    vertical-align: top;
    z-index: 10;
    position: absolute;
}
.contactLink p {
    font-weight: 400;
    color: #578E92;
}
#mail {
    left: 203px;
}
#tel {
    left: 0;
}
#linkedin {
    left: 406px;
}
.contactBackgroundActive{
    background: #6DC9CF;
    position: absolute;
    left:0;
    top:0;
    height: 60px;
    width: 204px;
    z-index: 8;
    transition: left 1s;
}
.contactLink div{
    opacity: 0;
    transition: opacity 0.5s;
}
.contactActive div{
    opacity :1;
    margin-top: 0;
    transition: opacity 1s;
}
.contactLink span{
    margin: 30px 0;
    display: block;
}
.contactLink span:before{
    font-size: 54px;
    color: #6DC9CF;
}
.Contact .contactActive a{
    color:#fff;
    transition: all 1s;
}
.Contact .content .linkInternal{
    border: none;
    color: #578E92;
    text-decoration: underline;
    text-transform: none;
    font-size: 15px;
    width:  auto;
    padding: 0;
    font-weight: 400;
}
.Contact .content .linkInternal:hover{
    text-decoration: none;
}
/*____________________________________________FOOTER____________________________________________*/
/*Fleche*/
#next{
    display: none;
    padding: 20px;
    animation: deplace 0.6s linear infinite;
    text-align: center;
    position: static;
    bottom: 10px;
    margin-left: 0;
}
.fleche {
    fill: none;
    stroke: #7fd0d5;
    stroke-width: 3px;
    fill-rule: evenodd;
    transition: stroke 0.3s;
}
/*fleche color*/
.About .fleche{
    stroke: #fff;
}
.About #sectionAdd {
    margin-top: 140px;
}
.Projects .fleche{
    stroke:#C3B752;
}
.Error .title{
    margin-top: 200px;
}
/*_____________________________________MEDIAQUERIES____________________________________________*/
@media screen  and (max-width : 768px), screen  and (max-height : 650px){
    /*TRANSITIONS*/
    .Home,
    .About,
    .Projects,
    .Contact,
    .Error{
        transition: background 0.9s;
    }
    .Home,
    .About,
    .Projects,
    .Contact,
    .Error,
    .Home header > div,
    .Home header .responsive_nav,
    .Error header > div,
    .Error header .responsive_nav,
    .About header > div,
    .About header .responsive_nav,
    .Projects header > div,
    .Projects header .responsive_nav,
    .Contact header > div,
    .Contact header .responsive_nav {
        transition: background 0.7s;
    }
    /*GENERAL*/
    body,section,html{
        height: auto;
    }
    header{
        height: auto;
        position: fixed;
        box-shadow: 2px 2px 20px rgba(0,0,0,0.05);
    }
    header .responsive_nav{
        display:block;
        width: 100%;
        z-index: 10;
        cursor: pointer;
        position: absolute;
        padding: 20px 0;
        border: none;
        outline: none;
    }
    .responsive_close{
        display: none;
    }
    header nav{
        position: static;
        z-index: 6;
    }
    header>div{
        position: static;
        padding: 20px 0 30px;
        z-index: 8;
        margin-top: -500px;
    }
    nav li{
        display: block;
        margin: 50px auto;
    }
    section{
        position: static;
        transform: translate(0%, 0%);
        -ms-transform:translate(0%, 0%);
        -webkit-transform: translate(0%, 0%);
        margin-top: 120px;
        margin-bottom: 20px;
    }
    /*HOME*/
    .Home #sectionAdd{
        margin-bottom: 50px;
    }
    .Home .content p{
        width: 80%;
    }
    /*FOOTER*/
    #next{
        position: static;
        margin-left: 0;
        margin-bottom: 10px;
    }
    /*ABOUT*/
    #about_competence .time_line {
        width: auto;
    }
    .about_section>div{
        height: auto;
        margin-top: 60px;
    }
    .About section,
    .Contact section{
        margin-top: 200px;
    }
    .time_line>div:last-child{
        margin-bottom: 50px;
    }

    .time_line>div:nth-child(2)>small:after,
    #about_competence .time_line>div:nth-child(5)>small:after,
    .time_line>div:first-child>small:before {
        display:none;
    }
    .time_line>div:nth-child(2)>small:before,
    #about_competence .time_line>div:nth-child(3)>small:before,
    #about_competence .time_line>div:nth-child(5)>small:before,
    #about_competence .time_line>div:nth-child(4)>small:after,
    .time_line>div:last-child>small:before{
        width:0;
        height: 45%;
        top: -64px;
    }
    .time_line>div:nth-child(2)>small:before,
    .time_line>div:last-child>small:before {
        left: 50%;
    }
    #about_competence .time_line>div,
    .time_line>div{
        margin: 30px auto 80px;
        display: block;
    }
    .time_line p{
        width: 100%;
    }
    .About .time_line small {
        margin-bottom: 10px;
    }
    #about_formation .time_line>div:nth-child(2)>small:before{
        height: 40%;
    }
    /*PROJECTS*/
    .activeCard{
        position: static;
        transform: translate(0%);
        -ms-transform:translate(0%);
        -webkit-transform: translate(0%);
        padding: 30px 15px 20px;
        box-shadow: none;
        height: 240px;
        margin: 10px 10px;
        width: 170px;
        background: #fff;
        transition: none;
    }
    .Projects .activeCard .cardContent a {
        font-size: 14px;
        padding: 12px;
        width: 110px;
        border-color: #C3B752;
        color:#C3B752;
    }
    .Projects .activeCard .cardContent a:hover {
        border-color: #C3B752;
        background: #C3B752;
        color: #FFF;
    }
    .card .icon-test-tube:before,
    .card .icon-pen:before,
    .card .icon-monitor:before,
    .activeCard .test-tube:before,
    .activeCard .icon-pen:before,
    .activeCard .icon-monitor:before{
        font-size: 60px;
        color: #DAD39A;
    }
    .activeCard .test-tube,
    .activeCard .icon-pen,
    .activeCard .icon-monitor{
        transform-origin: 0% 0%;
        -ms-transform-origin:0% 0%;
        -webkit-transform-origin: 0% 0%;
        -o-animation:none;
        -moz-animation:none;
        -webkit-animation: none;
        animation : none;
    }
    .activeCard .cardInner span{
        width: 80px;
        left: 50%;
    }
    .activeCard .cardContent p {
        font-size: 13px;
        line-height: 17px;
        max-width: 240px;
        margin-top: 20px;
        color: #C8BD5B;
    }
    .activeCard .cardContent strong {
        font-size: 14px;
        margin-top: 0;
        max-width: 130px;
        color: #6B663B;
    }
    .card{
        height: 320px;
        transition: none;
        width: 220px;
    }
    .cardContent a{
        font-size: 14px;
        padding: 12px;
        width: 110px;
        display: block;
    }
    .Projects #sectionAdd{
        margin: 200px auto 40px;
    }
    .Projects .content{
        margin: 0;
    }
    .Projects .content div {
        margin: 10px 10px;
    }
    /*CONTACT*/
    .cardContent strong{
        font-size: 14px;
        max-width: 130px;
    }
    .cardContent p{
        font-size: 13px;
        margin: 30px auto;
    }
    .cardContent{
        bottom: 20px;
    }
    .contactBackgroundActive{
        left: 0;
        transition: top 1s;
    }
    .Contact .content ul{
        width: 196px;
    }
    .contactLink{
        display: block;
        position: absolute;
        left: 0;
    }
    .contactLink div{
        transition: none;
    }
    .contactActive div{
        transition: none;
    }
    #mail,
    #tel,
    #linkedin{
        left:0;
    }
    #mail{
        top: 58px;
    }
    #mail.contactActive div{
        margin-top: 90px;
    }
    #tel.contactActive div{
        margin-top: 145px;
    }
    #linkedin{
        top: 116px;
    }
    #tel{
        top:0;
    }
}
@media screen and (max-width : 480px) {
    /*TRANSITIONS*/
    .Home,
    .About,
    .Projects,
    .Contact,
    .Error,
    .Home header > div,
    .Home header .responsive_nav,
    .Error header > div,
    .Error header .responsive_nav,
    .About header > div,
    .About header .responsive_nav,
    .Projects header > div,
    .Projects header .responsive_nav,
    .Contact header > div,
    .Contact header .responsive_nav {
        transition: none;
    }
    .title h2 {
        line-height: 25px;
        max-width: 350px;
        margin: -2px auto 0;
    }
    .Contact .content ul{
        height:310px;
    }
}