.grid {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  pointer-events: none;
  span {
    position: absolute;
    display: block;
    height: 100%;
    width: 2px;
    background: $alpha-lighter;
    left: 0;
    top: 0;

    @for $i from 0 through 9 {
      &:nth-child(#{$i}) {
        left: $i*10%;
      }
    }
  }
}
