/*GENERAL*/
body{
    background: #f0efeb;
}
h1,h2,h3,small,strong,p,li,a,input{
    font: normal 14px 'CenturyGothic';
    margin: 0;
    padding: 0;
    line-height: 18px;
}
.titre_section{
    margin-bottom: 20px;
    text-align: center;
}
.titre_section h2{
    font-size:40px;
    font-weight: bold;
    margin: 10px 0 20px;
}
.titre_section strong, .titre_section+strong{
    font-size: 30px;
}
p{
    color: #000;
}
/*HEADER*/
header{
    position: absolute;
    top:0;
    z-index: 1000;
    width:100%;
}
.header_inner{
    position: relative;
    width:95%;
    margin: 20px auto;
}
.header_inner .logo{
    width:80px;
}
.header_inner .connexion_btn{
    position: absolute;
    right:10px;
    top:10px;
    color:#fff;
    font-weight: bold;
}
/*Inscription*/
/*FORM*/
.inscription_form{
    background: #fff;
}
.inscription_form .btn_rounded {
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
    position: absolute;
    bottom: 70px;
    right: 50px;
}

.inscription_form form {
    position: relative;
    overflow: hidden;
    padding-bottom: 30px;
}
.description_site .inscription_form h3{
    font-size: 40px;
    padding-bottom: 10px;
    color: #c61e60;
}
.description_site .inscription_form strong{
    color: #c61e60;
    padding-bottom: 60px;
    display: block;
}
.inscription_form form>ul>li>ul>li:first-child{
    color: #e61359;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 30px;
}
.inscription_form form>ul>li{
    text-align: left;
}
.inscription_form form>ul>li:last-child{
    margin-top: 30px;
}
.inscription_form form>ul>li:nth-child(3){
    margin-top: -10px;
}
.inscription_form label{
    font-size: 13px;
}
.inscription_form small{
    font-size: 13px;
}
.inscription_form form>ul>li>ul>li>ul>li,
.moyen li>small,
.moyen>ul>li>ul>li,
.moyen>ul>li>ul,
.toggle_check small{
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
}
.moyen>ul>li>ul>li{
    margin-bottom: 0;
}
.moyen .toggle_check>ul{
    margin-right: 0;
}
.moyen .toggle_check small{
    margin-right: 10px;
}
.inscription_form input[type=checkbox]:not(:checked) + label,
.inscription_form input[type=checkbox]:checked + label,
.inscription_form input[type=radio]:not(:checked) + label,
.inscription_form input[type=radio]:checked + label{
    position: relative; /* permet de positionner les pseudo-éléments */
    padding-right: 20px; /* fait un peu d'espace pour notre case à venir */
    cursor: pointer;    /* affiche un curseur adapté */
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after,
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after{
    content: '';
    position: absolute;
    right:0; top: 4px;
    width: 10px; height: 10px; /* dim. de la case */
    background: #c61f60;
    border-radius: 10px; /* angles arrondis */
}
[type="checkbox"]:checked + label:after,
[type="radio"]:checked + label:after{
    background: #5fb35a;
}
.inscription_form input[type=checkbox]:not(:checked),
.inscription_form input[type=checkbox]:checked,
.inscription_form input[type=radio]:not(:checked),
.inscription_form input[type=radio]:checked{
    position: absolute;
    left: -9999px;
}
.toggle_check small,
.moyen .toggle_check>ul>li,
.inscription_form form>ul>li>ul>.toggle_check>ul>li{
    margin-right: 10px;
}
.toggle_check li,
.toggle_check>ul,
.inscription_form form>ul>li>ul>.moyen>ul>li{
    display: block;
}
.type,.musee,.hotel{
    max-width: 460px;
}
.interet,.hebergement{
    margin-left: 50px;
}
#pseudo {
    border: none;
    outline: none;
}
.image_ul{
    display: inline-block;
}
.image_ul:before{
    content:'';
    width:40px;
    height:40px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.omnivore:before{
    background: url('../images/inscription_fourchette.png') center center no-repeat;
    background-size: contain;
}
.hotel:before{
    background: url('../images/inscription_hotel.png') center center no-repeat;
    background-size: contain;
}
.apero:before{
     background: url('../images/inscription_soleil.png') center center no-repeat;
     background-size: contain;
 }
.musee:before{
     background: url('../images/inscription_ticket.png') center center no-repeat;
     background-size: contain;
 }
.maison:before{
    background: url('../images/inscription_maison.png') center center no-repeat;
    background-size: contain;
}
.type:before{
    background: url('../images/inscription_bus.png') center center no-repeat;
    background-size: contain;
}
.moyen:before{
    background: url('../images/inscription_voiture.png') center center no-repeat;
    background-size: contain;
}
.marche:before{
    background: url('../images/inscription_chaussure.png') center center no-repeat;
    background-size: contain;
}
/*ACCUEIL*/
.inner{
    padding: 0 60px;
    position:relative;
}
/*SECTION 1*/
.description_site{
    text-align: center;
    background: url(../images/home_eiffel.jpg) center right no-repeat;
    background-size: cover;
    padding: 150px 0 60px;
}
.description_site .titre_section h2{
    color: #5fb45b;
}
.description_site strong {
    color: #9fc455;
}
.description_site h3{
    font-size: 25px;
    font-weight: bold;
    color:#fff;
    line-height: 34px;
}
.description_site_contenu{
    background: rgba(255,255,255,0.8);
    padding: 50px 0;
    margin-top: 70px;
    margin-bottom: 60px;
    box-sizing: border-box;
}
.description_site_contenu li{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 40px;
    box-sizing: border-box;
}
.description_site_contenu li:before{
    content: "";
    width:110px;
    height:90px;
    display: block;
    margin:0 auto 20px;
}
.description_site_contenu_li1:before{
    background: url(../images/home_picto01.png) center center no-repeat;
    background-size: contain;
}
.description_site_contenu_li2:before{
    background: url(../images/home_picto02.png) center center no-repeat;
    background-size: contain;
}
.description_site_contenu_li3:before{
    background: url(../images/home_picto03.png) center center no-repeat;
    background-size: contain;
}
.description_site_contenu_li4:before{
    background: url(../images/home_picto04.png) center center no-repeat;
    background-size: contain;
}
.description_site form{
    padding-bottom: 20px;
}
.input-group[class*=col-]{
    float:left;
    position:relative;
    margin-bottom: 30px;
    height:50px;
}
.input-group .form-control{
    border:none;
    box-shadow: none;
    width:100%;
    height:70px;
    padding-top: 20px;
    padding-left: 50px;
    box-sizing: border-box;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
}
.input-group:before{
    content: "";
    position:absolute;
    z-index: 30;
    left:7px;
    top:10px;
    width:40px;
    height:40px;
}
.inscription_password:before{
    background: url(../images/inscription_password.png) center center no-repeat;
    background-size: contain;
    height:50px;
}
.inscription_mail:before{
    background: url(../images/inscription_mail.png) center center no-repeat;
    background-size: contain;
    top:15px;
    left:-2px;
}
.inscription_username:before{
    background: url(../images/inscription_login.png) center center no-repeat;
    background-size: contain;
}
.inscription_submit{
    background: transparent;
    position:absolute;
    right:0;
    top:0;
}
.inscription_submit button{
    background: #9fc455;
    border: none;
    width:150px;
    height:50px;
    box-sizing: border-box;
    color:#fff;
}
.inside_inscription{
    position:relative;
}
.inside_inscription:last-child{
    margin-left: -1px;
}
.decouvrir_application_iphone{
    position: absolute;
    top:-70px;
    left: 60px;
    width:400px;
}
.decouvrir_application{
    margin-top: 100px;
}
.decouvrir_application .inner{
    background: url('../images/home_feuille.jpg') center center no-repeat;
    background-size: cover;
}
.rejoindre_communaute{
    margin-top: 40px;
}
.rejoindre_communaute_texte{
    background: #fff;
    padding:30px 15px;
    text-align: center;
}
.rejoindre_communaute_texte .titre_section h2{
    color:#c5215f;
}
.rejoindre_communaute_texte>p{
    font-size: 18px;
    line-height: 24px;
    font-style: italic;
}
.btn_rounded{
    border-radius: 30px;
    box-sizing: border-box;
    background:#9fc555;
    border: none;
    padding:20px 30px;
    margin-top: 30px;
}
.btn_rounded a{
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
}
/*A LA UNE*/
.a_la_une{
    margin: 135px 0;
}
.a_la_une .titre_section h2{
    color:#60b45b;
    font-size: 55px;
    margin-bottom: 20px;
}
.a_la_une .titre_section strong{
    color:#9fc555;
    font-style: italic;
    font-weight: normal;
}
.a_la_une_galerie{
    margin: 50px 0;
}
.galerie_smoothie_responsive{
    display: none;
}
.a_la_une .btn_rounded{
    width:320px;
    display: block;
    margin: 0 auto;
    float: none;
    background:#c5215f;
    border-radius: 15px;
}
.a_la_une_galerie ul li{
    padding: 15px;
    position: relative;
    box-sizing: border-box;
}
.a_la_une_galerie ul li:hover{
    background: #9fc555;
    box-sizing: border-box;
}
.a_la_une_galerie ul li:hover img{
    opacity: 0.4;
}
.a_la_une_galerie ul li:hover:after{
    content:'Voir';
    position:absolute;
    top:50%;
    left:50%;
    margin-top: -10px;
    margin-left: -30px;
    color: #fff;
    font-size: 30px;
}
/*CARROUSSEL*/
.le_tout_paris{
    background: #121111;
    padding: 65px 0 0;
}
.le_tout_paris .inner{
    padding: 0;
}
.le_tout_paris .titre_section h2{
    color:#e5165a;
}
.le_tout_paris .titre_section strong{
    color:#c4235f;
}
.le_tout_paris p{
    color:#000000;
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}
#carousel-example-generic{
    background: #5fb35b;
    margin-top: 40px;
}
.carousel-inner{
    text-align: center;
}
.carousel-inner h3,
.carousel-inner strong,
.carousel-inner li{
    color:#fff;
}
.carousel-inner li{
    display: inline-block;
    margin: 40px 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.carousel-inner li:before{
    content: '';
    width: 90px;
    height: 90px;
    display: block;
    margin-bottom: 20px;
}
.item_ecologie_electricite:before{
    background: url(../images/home_electricite.png) center center no-repeat;
    background-size: contain;
}
.item_ecologie_eau:before{
    background: url(../images/home_eau.png) center center no-repeat;
    background-size: contain;
}
.item_ecologie_tri:before{
    background: url(../images/home_tri.png) center center no-repeat;
    background-size: contain;
}
.item_ecologie_seine:before{
    background: url(../images/home_vague.png) center center no-repeat;
    background-size: contain;
}
.item_ecologie h3{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 4px 1px rgba(0,0,0,0.4);
    line-height: 36px;
    padding: 45px 0 35px 100px;
    text-align: left;
}
.item_ecologie strong{
    max-width: 700px;
    display: block;
    text-align: left;
    line-height: 32px;
    padding-left: 170px;
}
/*FOOTER*/
footer{
    color: #fff;
    text-align: center;
    background: url("../images/footer.png") top center no-repeat;
    background-size: cover;
    padding-top: 120px;
    margin-top: 100px;
}
footer li{
    display: inline-block;
    margin: 0 20px;
    vertical-align: top;
    text-align: left;
}
footer ul{
    margin: 50px 0;
}
.footer_nav a{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.footer_sociaux{
    margin-bottom: 70px;
}
.footer_sociaux img{
    width:50px;
}
.footer_contact li{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    vertical-align: top;
    margin: 0 90px;
}
.footer_contact li:before{
    content: '';
    width: 40px;
    height: 40px;
    display: block;
    float: left;
    padding-bottom: 10px;
    margin:-10px 10px 0 0;
}
.footer_mail:before{
    background: url(../images/footer_mail.png) center center no-repeat;
    background-size: contain;
}
.footer_phone:before{
    background: url(../images/footer_phone.png) center center no-repeat;
    background-size: contain;
}
.footer_adress:before{
    background: url(../images/footer_adress.png) center center no-repeat;
    background-size: contain;
}
footer small{
    font-size: 12px;
    margin-bottom: 20px;
    display: block;
}
/*@media(max-width: 1200px){
    .galerie_regard,.galerie_smoothie{
        display: none;
    }
    .galerie_smoothie_responsive{
        display: block;
    }
    .description_site form{
        padding-bottom: 70px;
    }
    .inscription_form form {
        padding-bottom: 30px;
    }
    .description_site{
        background: url(../images/home_eiffel_1024.jpg) center right no-repeat;
        background-size: cover;
    }
    .description_site_contenu li:first-child{
        margin-left: -15px;
    }
    .description_site_contenu>div>strong{
        margin-bottom: 10px;
    }
}*/

/*
@media (max-width: 992px) {
    .inner{
        padding: 0 60px;
    }
}
@media(max-width: 768px){
    .inner{
        padding: 0 40px;
    }
    .inscription_submit{
        position:static;
    }
    .description_site_contenu li{
        width:50%;
    }
    .description_site_contenu>div,.description_site_contenu>p{
        padding:0 20px;
    }
    .description_site_contenu>div>strong{
        max-width: 375px;
        margin: 0 auto;
    }
    .description_site_contenu>p{
        line-height: 18px;
    }
}
@media(max-width: 550px){
    .description_site{
        background: url(../images/home_eiffel_720.jpg) center right no-repeat;
        background-size: cover;
    }
    .description_site_contenu li{
        width:100%;
    }
    .description_site h3{
        font-size: 24px;
    }
    .description_site form{
        padding-bottom: 30px;
    }
    .inscription_submit button{
        width:100%;
    }
    .description_site .titre_section h2{
        line-height: 52px;
        margin-bottom: 10px;
    }
    .description_site .titre_section strong{
        line-height: 30px;
    }
}
*/
