/*******************************
Colors
*******************************/

$white: #FFF;
$gray-light: #F8F8F8;
$gray: #B8B9C8;
$gray-dark: #1A1F63;
$black: #000;

$alpha-lighter: #F4F6FF;
$alpha-light: #DDE2F5;
$alpha: #274EE8;
$alpha-dark: #1A1F63;

/*******************************
Fonts
*******************************/

$fs-base: 'Open sans', 'sans-serif';
$fs-mono: 'Montserrat', 'sans-serif';

/*******************************
Breakpoints
*******************************/

$breakpoints: (
'base': 0,
'xs': 375px,
'sm': 768px,
'md': 1200px,
'lg': 1800px
);

$gutter-width: 20px;
