---
layout: default
---
<section id="experiences">
  {% include experiences_list.html list=site.data.experiences_professionnal title="Professionnelles" subtitle="Stages / Alternances / CDI" %}
  {% include experiences_list.html list=site.data.studies title="Formations" subtitle="Écoles / Diplômes" %}
</section>

<div class="decoration">
  <span class="round gray-light inverse lightSpeedIn faster animated delay-2s"></span>
  <span class="round alpha-light"></span>
  <span class="round alpha-lighter inverse"></span>
  <span class="round alpha"></span>
</div>
