<!doctype html>
<html lang="fr">
  {% include head.html %}
  <body>
    <main class="main newsletter">
      <section class="newsletter-item alpha-lighter">
        <div class="header">
          <p class="logo">
            <strong>Alice Sevin</strong><br/>
            Front-end developer
          </p>
        </div>
        <div class="content">
          <h1>
            <span>Hello!</span>
            <strong>is it me your looking for</strong>
            <span>?</span>
          </h1>
        </div>
        <div class="footer"></div>
      </section>

      <section class="newsletter-item alpha">
        <div class="header"></div>
        <div class="content">
          <h1>
            <span>I can</span>
            see it in your
            <i class="icon icon-eye" alt="eye"></i>
          </h1>
        </div>
        <div class="footer">
          <p>1/6</p>
        </div>
      </section>

      <section class="newsletter-item alpha-light">
        <div class="header"></div>
        <div class="content">
          <h1>
            <span>I can</span>
            see it in your
            <i class="icon icon-smile" alt="smile"></i>
          </h1>
        </div>
        <div class="footer">
          <p>2/6</p>
        </div>
      </section>

      <section class="newsletter-item alpha">
        <div class="header"></div>
        <div class="content">
          <h1>
            <span>You're</span>
            all i've ever wanted
          </h1>
          <h2>
            <strong>and my</strong><br/>
            <i class="icon icon-arm" alt="arm"></i>
            are open wide
          </h2>
        </div>
        <div class="footer">
          <p>3/6</p>
        </div>
      </section>

      <section class="newsletter-item alpha">
        <div class="header"></div>
        <div class="content">
          <h1>
            <span>Cause</span>
            you know just what to
            <i class="icon icon-say" alt="say"></i>
          </h1>
          <h2>
            <strong>and you know</strong><br/>
            just what to
            <span>Do</span>
          </h2>
        </div>
        <div class="footer">
          <p>4/6</p>
        </div>
      </section>

      <section class="newsletter-item alpha">
        <div class="header">
          <p>And</p>
        </div>
        <div class="content">
          <h1>
            <span>I want to</span>
            teel you so much
            <i class="icon icon-love" alt="love"></i>
          </h1>
          <h2>
            <strong>About</strong> working with you
          </h2>
        </div>
        <div class="footer">
          <a class="btn secondary">Contact-me</a>
          <p>
            <strong>Copyright: Lionel Richie, "Hello"</strong><br/>
            * I decided to challenge myself trying to apply using an old song of Lionel Richie
          </p>
        </div>
      </section>


      <section class="newsletter-item light-alpha">
        <div class="header">
          <p>And</p>
        </div>
        <div class="content">
          <h1>
            <span>Want to</span>
            <strong>know more about me</strong>
            <span>?</span>
          </h1>
        </div>
        <div class="footer">
          <h2>Please</h2>
          <a class="btn alpha">Download my resume</a>
          <p>
            <strong>Copyright: Lionel Richie, "Hello"</strong><br/>
            * I decided to challenge myself trying to apply using an old song of Lionel Richie
          </p>
        </div>
      </section>

      {{ content }}
    </main>
  </body>
</html>
