/*BUTTON*/
.uk-button-primary:hover,
.uk-button-primary:focus,
.uk-button-primary:active,
.uk-button-primary{
    background : #ea2b51;
    font-size: 12px;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    line-height: 1;
    cursor: pointer;
}
.uk-button-primary:after,
.uk-button-primary:before{
    content: '';
    display: block;
    width: calc(100% + 6px);
    height: 100%;
    border: 1px solid #ea2b51;
    border-radius: 2px;
    top: 50%;
    position: absolute;
    -webkit-transform : translate(calc(-50%),-50%);
    transform : translate(calc(-50%),-50%);
    left:50%;
}
.uk-button-primary:after{
    content: '';
    display: block;
    height: calc(100% + 6px);
    width: 100%;
}
.uk-button-primary span{
    pointer-events : none;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px 10px 10px;
}
.uk-full-link span:before,
.uk-button-primary span:before{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    display: inline-block;
    margin-right: 15px;
    border-color: transparent transparent transparent #ffffff;
}
/*LINKS*/
.uk-full-link{
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    font-weight: 300;
}
.uk-full-link:hover,
.uk-full-link:focus,
.uk-full-link:active{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
a:hover p,
a:active p,
a:focus p{
    text-decoration: none;
}
a.uk-panel:hover,
a.uk-panel:active,
a.uk-panel:focus{
    text-decoration: none;
}
.uk-full-link span{
    pointer-events : none;
    cursor: pointer;
}
a>*{
    cursor: pointer;
}