/*CHIFFRES*/
.uk-resultNumber {
    position: absolute;
    font-size: 80px;
    line-height: 0.22;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: rgba(201,47,81, 0.20);
    font-family: 'K22 Didoni', cursive;
}
.uk-resultText {
    margin: 0;
    padding: 20px 0;
    min-height: 76px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1;
    color : #6a6a6a;
}
@media (min-width: 959px) {
    .uk-resultNumber {
        font-size: 130px;
        line-height: 0.28;
    }
    .uk-resultText {
        padding: 40px 0;
        min-height: 130px;
        font-size: 18px;
    }
}