/*CITATION*/
.uk-overlay-citation{
    border: 3px solid #dce7fc;
    padding: 40px 60px 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 85%;
    max-width: 900px;
    font-size: 18px;
    -webkit-transform: none;
    transform: none;
    color : #6a6a6a;
    position: relative !important;
    margin: -20% auto 0;
    float: none;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    clear: both;
    display: block;
    left: 0;
}
.uk-overlay-citation:not(.uk-overlay-citation-v2) .uk-switcher{
    border-bottom: 1px solid #c92f51;
    position: relative;
    margin: 0 !important;
    padding: 20px 0;
}
.uk-overlay-citation:not(.uk-overlay-citation-v2) .uk-switcher:after{
    content : '“';
    position: absolute;
    right: -40px;
    bottom: 20px;
    color :  #c92f51;
    font-size: 90px;
    line-height: 0;
    font-family: 'Cinzel',cursive;
    display: block;
    -webkit-transform : rotate(180deg);
    transform : rotate(180deg);
}
.uk-overlay-citation p{
    line-height: 1.8;
    font-style: normal;
    font-size: 15px;
    padding-bottom: 10px;
    margin: 10px auto;
}
.uk-overlay-citation cite{
    margin-top: 10px;
    display: block;
    font-size: 24px;
    color : #c92f51;
    font-family: 'Insolente',cursive;
}
.uk-overlay-citation cite span{
    font-size: 12px;
    color : #6a6a6a;
    padding-right: 5px;
    font-style: normal;
    font-family: 'Proxima Nova',sans-serif;
}
.uk-overlay-citation:not(.uk-overlay-citation-v2) .uk-comment-detail{
    font-size: 12px;
    margin: 5px auto 0;
    text-transform: uppercase;
    font-style: normal;
    border-bottom: 1px solid #c92f51;
    padding-bottom: 40px;
    position:relative;
    margin-bottom: 20px;
}
.uk-overlay-citation:not(.uk-overlay-citation-v2) .uk-comment-detail:before{
    content : '“';
    position: absolute;
    left: -40px;
    bottom: -20px;
    color :  #c92f51;                
    font-size: 90px;
    line-height: 0;
    font-family: 'Cinzel',cursive;
}
.uk-overlay-citation .uk-comment-detail strong{
    color: #c92f51;
}
.uk-overlay-citation .uk-comment-avatar{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 30px;
    margin: 0 auto;
}
.uk-comment-avatar img{
    min-width: 100%;
    min-height: 100;
}
/*V2*/
.uk-overlay-citation-v2 .uk-comment-detail{
    text-align: center;
}
.uk-overlay-citation-v2 cite{
    font-family: 'Cinzel',cursive;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    color: #6a6a6a;
}
.uk-overlay-citation-v2 blockquote{
    padding: 20px 0;
    text-align: left;
    color: #bdbdbd;
    border-bottom: 1px solid #c92f51;
}
.uk-overlay-citation-v2 blockquote p{
    font-size: 13px;
    line-height: 18px;
}
.uk-overlay-citation-v2>div:first-child{
    position: relative;
    padding-bottom: 80px;
}
@media (min-width: 959px) {
    .uk-overlay-citation{
        padding: 70px 130px;
    }
    .uk-overlay-citation .uk-switcher:before{
        left:-100px;
        font-size: 140px;
    }
    .uk-overlay-citation .uk-switcher:after{
        right:-100px;
        font-size: 140px;
    }
    .uk-overlay-citation:not(.uk-overlay-citation-v2) .uk-switcher{
        border-top: 1px solid #c92f51;
    }
    .uk-overlay-citation:not(.uk-overlay-citation-v2) .uk-switcher:after,
    .uk-overlay-citation:not(.uk-overlay-citation-v2) .uk-switcher:before{
        content : '“';
        position: absolute;
        left: -60px;
        top: 40px;
        color :  #c92f51;                
        font-size: 140px;
        line-height: 0;
        font-family: 'Cinzel',cursive;
    }
    .uk-overlay-citation:not(.uk-overlay-citation-v2) .uk-switcher:after{
        right: -60px;
        bottom: 40px;
        left: auto;
        top: auto;
    }
    .uk-overlay-citation p{
        line-height: 2;
        font-size: 18px;
    }
    .uk-overlay-citation:not(.uk-overlay-citation-v2) .uk-comment-detail{
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
    }
    .uk-overlay-citation .uk-comment-detail:before{
        display: none;
    }
    /*V2*/
    .uk-overlay-citation-v2{
        padding: 50px 70px 90px;
        margin-bottom: 20%;
        position: relative !important;
        top: 85%;
    }
    .uk-overlay-citation-v2 .uk-comment-detail,
    .uk-overlay-citation-v2 blockquote cite,
    .uk-overlay-citation-v2 blockquote p{
        text-align: left;
        font-size: 14px;
    }
     .uk-overlay-citation-v2 .uk-comment-detail{
        text-transform : uppercase;
        padding : 0;
        margin: 0;
     }
     .uk-overlay-citation-v2 .uk-comment-avatar{
        position: absolute;
        top:10px;
        right:10px;
     }
     .uk-overlay-citation-v2 blockquote{
        position : relative;
     }
     .uk-overlay-citation-v2 blockquote cite{
        margin: 0 auto 30px;
        font-size: 30px;
     }
}