/*FOOTER*/
.footer{
  background: #ebeefc;
  padding: 0 30px;
  clear: both;
  overflow: hidden;
}
.footer .uk-navbar{
  width: 100%;
}
.footer .uk-navbar .uk-navbar-nav{
  -webkit-box-align : center;
  -ms-flex-align : center;
  align-items : center;
}
.footer li,
.footer li a{
  font-size: 10px !important;
  color : #6a6a6a !important;
  text-transform: none !important;
}
.footer .nav-mentions a{
  text-decoration: underline;
}
.footer .uk-navbar-right{
  margin-right: 30px;
}
.footer .uk-logo>img{
  height: 23px;
}
.footer .uk-navbar-center .uk-logo>img{
  height: 55px;
}
@media (max-width: 958px) {
  .footer .uk-navbar-container{
    display: block;
  }
  .footer .uk-navbar-nav,
  .footer .uk-navbar-container>*{
    display: block;
    position: static;
    transform : none;
  }
  .footer .uk-navbar-container>*{
    padding: 10px 0;
  }
  .footer .uk-navbar-nav .uk-first-column{

    display: flex;
    align-items: center;
    flex-direction: column;

  }
  .footer .uk-navbar-nav li,
  .footer   .nav-mentions{
    display: block;
    text-align: center;
  }
  .footer   .nav-mentions {
    padding-top: 20px;
  }
  .footer   .nav-mentions li{
    padding: 5px 0;
  }
  .footer .uk-navbar-right{
    margin-right: 0;
  }
  .footer .uk-navbar-center .uk-logo{
    padding: 10px 0;
    height: 110px;
  }
  .footer .uk-navbar-center .uk-logo>img{
    height: 100%;
    width: auto;
    max-width: none;
  }
}