.livre>.uk-section:first-child{
	padding-bottom: 100px;
}
.livre .uk-overlay-citation-v2{
    margin-bottom: 10%;
}
@media(max-width : 958px){
	.livre .uk-inline{
		background: none !important;
	}
}
@media (min-width: 959px) {
    .livre .uk-overlay-citation-v2{
        padding-bottom: 0;
    }
    .livre .uk-overlay-citation-v2{
        margin-bottom: 20%;
    }
    .livre .uk-section:last-child .uk-inline{
        height: 80vh;
        background-size: cover;
        overflow: auto;
    }
    .livre .uk-section:last-child .uk-display-block{
        display: none !important;
    }
    .livre .uk-section:last-child .uk-inline>.uk-display-block{
        height: 100%;
    }
}