/*MAIN*/
.uk-ring:after{
    content : '';
    background : url('../../images/carib/ring/r-i-n-g@3x.png') center center no-repeat;
    background-size: contain;
    height: 12px;
    width: 240px;
    display: block;
    margin: 10px auto 0;
}
.uk-display-block{
	overflow: hidden;
}
.uk-display-block img{
	position: relative;
	left: 50%;
	height: 100%;
	width: auto;
	max-width: none;
	transform: translateX(-50%);
}
.uk-grid{
    width: 100%;
    margin-left: 0;
}
.uk-grid .uk-first-column{
	padding-left: 0;
}
@media (min-width: 630px) {
	.uk-display-block img{
		top: 50%;
		left: auto;
		height: auto;
		width: 100%;
		transform: translateY(-50%);
	}
}
@media (min-width: 630px) {
	.contact .uk-overlay-small strong{
		font-size: 17px;
		line-height: 20px;
	}
}
@media (min-width: 959px) {
	.uk-display-block img{
		height: 100%;
		width: auto;
		display: inline-block;
		left: 50%;
		top: auto;
		transform: translateX(-50%);
	}
}