.uk-slider .uk-display-block{
    height: 400px;
    overflow: hidden;
}
.uk-dotnav,
.uk-pagination{
    position: absolute;
    bottom : 20px;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.uk-pagination{
    bottom: 10px;
}
.uk-pagination > .uk-disabled,
.uk-pagination > .uk-active > *,
.uk-pagination > .uk-disabled > *,
.uk-pagination > * > *{
    color: #c92f51;
}
.uk-dotnav > * > *{
    width:8px;
    height:8px;
    background: none;
    border: 1px solid #c0cfeb;
}
.uk-dotnav > .uk-active > *{
    background: #c0cfeb;
}
.first-carousel .owl-stage-outer,
.first-carousel .owl-stage,
.first-carousel .owl-item{
    height: 100%;
}
@keyframes slidein {
  from {
    margin-left: 0;
  }

  to {
    margin-left: 5px;
  }
}
@keyframes slideinChild {
  from {
    margin-right: 15px;
  }

  to {
    margin-right: 10px;
  }
}
.header .uk-navbar-dropdown-nav>li ul li:focus a,
.header .uk-navbar-dropdown-nav>li ul li:active a,
.header .uk-navbar-dropdown-nav>li ul li:hover a{
    color:#797979;
}
.uk-navbar-dropdown-nav>li:focus>a,
.uk-navbar-dropdown-nav>li:active>a,
.uk-navbar-dropdown-nav>li:hover>a{
    color:#333 !important;
}
.uk-modal{
    z-index: -1;
}
.uk-modal-page .uk-modal{
    z-index: 2;
}
.carousel-creation .owl-nav.disabled{
    display:block;
}
@media (min-width: 959px) {

.home .uk-section:nth-child(2) .uk-panel img{
    transition: all .4s;
}
.home .uk-section:nth-child(2) .uk-panel:focus img,
.home .uk-section:nth-child(2) .uk-panel:active img,
.home .uk-section:nth-child(2) .uk-panel:hover img{
    max-width: 145px;
    width: 90%;
    transition: all .4s;
}
.prestations .uk-panel img{
    transition: all .4s;

}
.prestations .uk-panel:hover img{
    transition: all .4s;
    max-width: 255px;
    width: 61%;
}
.uk-full-link:hover span, .uk-button-primary:hover span{
    animation-duration: .5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.uk-full-link:hover span:before, .uk-button-primary:hover span:before{
    animation-duration: .5s;
  animation-name: slideinChild;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
    .uk-slider .uk-display-block{
        height: 500px;
    }
}